@model BankApplication.Models.Credit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Credit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalRepayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalRepayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentRepayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentRepayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthRepayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthRepayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMonths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMonthsToEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMonthsToEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastPayment)
        </dd>

        @if (!Model.IsPaidOff)
        {
            using (Html.BeginForm("PayOffOneInstallment", "Credits", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    <div class="col-md-offset-1">
                        <input type="submit" value="Zapłać ratę" class="btn btn-default" />
                    </div>
                </div>
            }

            using (Html.BeginForm("PayOffCountOfNumberInstallments", "Credits", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    <div class="col-md-offset-1">
                        <select name="numberOfMonths">
                            @for (int i = 1; i <= Model.NumberOfMonthsToEnd; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-offset-1">
                        <input type="submit" value="Zapłać raty" class="btn btn-default" />
                    </div>
                </div>
            }


            using (Html.BeginForm("PayOffAll", "Credits", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    <div class="col-md-offset-1">
                        <input type="submit" value="Spłać całość" class="btn btn-default" />
                    </div>
                </div>
            }
        }
        else
        {
            <span>
                Spłacono
            </span>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>