@model BankApplication.Models.Credit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Credit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreditAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalRepayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalRepayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentRepayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentRepayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthRepayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthRepayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMonths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMonthsToEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMonthsToEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaidOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaidOff)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
