@model BankApplication.Models.Credit

@{
    ViewBag.Title = "Szczegóły kredytu";
}

<h2></h2>

<div>
    <h4>Szczegóły kredytu</h4>
    <hr />
    @if (ViewBag.Message != "")
    {
        <div class="toast-container">
            <div class="toast" style="display: inline-block">
                @ViewBag.Message
            </div>
        </div>

    }

    <div class="col-xs-6">
        <span class="gray-text">
            @Html.DisplayNameFor(model => model.ID)
        </span>
        <br />
        <span>
            @Html.DisplayFor(model => model.ID)
        </span>
        <br />
        <br />

        <span class="gray-text">
            @Html.DisplayNameFor(model => model.CreditAmount)
        </span>
        <br />
        <span>
            @Html.DisplayFor(model => model.CreditAmount)
        </span>
        <br />
        <br />

        <span class="gray-text">
            @Html.DisplayNameFor(model => model.TotalRepayment)
        </span>
        <br />
        <span>
            @Html.DisplayFor(model => model.TotalRepayment)
        </span>
        <br />
        <br />

        <span class="gray-text">
            @Html.DisplayNameFor(model => model.CurrentRepayment)
        </span>
        <br />
        <span>
            @Html.DisplayFor(model => model.CurrentRepayment)
        </span>
        <br />
        <br />

        <span class="gray-text">
            @Html.DisplayNameFor(model => model.MonthRepayment)
        </span>
        <br />
        <span>
            @Html.DisplayFor(model => model.MonthRepayment)
        </span>
        <br />
        <br />

        <span class="gray-text">
            @Html.DisplayNameFor(model => model.NumberOfMonths)
        </span>
        <br />
        <span>
            @Html.DisplayFor(model => model.NumberOfMonths)
        </span>
        <br />
        <br />

        <span class="gray-text">
            @Html.DisplayNameFor(model => model.NumberOfMonthsToEnd)
        </span>
        <br />
        <span>
            @Html.DisplayFor(model => model.NumberOfMonthsToEnd)
        </span>
        <br />
        <br />
    </div>

    @if (!Model.IsPaidOff)
    {
        <div class="col-xs-6">
            <span class="gray-text">
                @Html.DisplayNameFor(model => model.StartDate)
            </span>
            <br />
            <span>
                @Html.DisplayFor(model => model.StartDate)
            </span>
            <br />
            <br />

            <span class="gray-text">
                @Html.DisplayNameFor(model => model.EndDate)
            </span>
            <br />
            <span>
                @Html.DisplayFor(model => model.EndDate)
            </span>
            <br />
            <br />

            <span class="gray-text">
                @Html.DisplayNameFor(model => model.LastPayment)
            </span>
            <br />
            <span>
                @Html.DisplayFor(model => model.LastPayment)
            </span>
            <br />
            <br />

            @if (!User.IsInRole("Admin"))
            {
                <span>
                    @using (Html.BeginForm("PayOffOneInstallment", "Credits", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <div class="form-group">
                            <input type="submit" value="Zapłać ratę" class="btn btn-default" />
                        </div>
                    }
                </span>
                <br />

                <span>
                    @using (Html.BeginForm("PayOffCountOfNumberInstallments", "Credits", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <div class="form-group">
                            <select name="numberOfMonths" class="form-control" style="width: 95px">
                                @for (int i = 1; i <= Model.NumberOfMonthsToEnd; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>

                            <input type="submit" value="Zapłać raty" class="btn btn-default" />
                        </div>
                    }
                </span>
                <br />

                <span>
                    @using (Html.BeginForm("PayOffAll", "Credits", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <div class="form-group">
                            <input type="submit" value="Spłać całość" class="btn btn-default" />
                        </div>
                    }
                </span>
                <br />
                <br />
            }
        </div>
    }
    else
    {
        <span>
            Spłacono
        </span>
    }
</div>