@model IEnumerable<BankApplication.Models.Credit>

@{
    ViewBag.Title = "Kredyty";
}

<h2>Kredyty</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreditAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalRepayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentRepayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthRepayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfMonths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfMonthsToEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaidOff)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreditAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalRepayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentRepayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthRepayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfMonths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfMonthsToEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPaidOff)
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ID }, new { @class = "btn btn-default" }) 
        </td>
    </tr>
}

</table>
