@model IEnumerable<BankApplication.Models.Currency>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row currency-content">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-sm-6">
            <div class="currency-box">
                <div class="currency-code-box">
                    @Html.DisplayFor(modelItem => item.Code)

                </div>
                <div class="currency-name-box">
                    @Html.DisplayFor(modelItem => item.Name)

                </div>
                <div class="currency-date-box">
                    @Html.DisplayFor(modelItem => item.EffectiveDate)
                </div>
                <div class="currency-value-box">
                    <div class="currency-ask-box">
                        <span>
                            Sprzedaję
                        </span>
                        <br />
                        <span>
                            @item.Ask
                        </span>
                    </div>
                    <div class="currency-bid-box">
                        <span>
                            Kupuję
                        </span>
                        <br />
                        <span>
                            @item.Bid
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


