@model BankApplication.Models.CreditApplication

@{
    ViewBag.Title = "Szczegóły wniosku";
}

<h2></h2>

<div>
    <h4>Wniosek o kredyt</h4>
    <hr />
    <div class="col-xs-6">
        <span class="gray-text">
            @Html.DisplayNameFor(model => model.CreditAmount)
        </span>
        <br />
        <span>
            @Html.DisplayFor(model => model.CreditAmount)
        </span>
        <br />
        <br />

        <span class="gray-text">
            @Html.DisplayNameFor(model => model.TotalRepayment)
        </span>
        <br />
        <span>
            @Html.DisplayFor(model => model.TotalRepayment)
        </span>
        <br />
        <br />

        <span class="gray-text">
            @Html.DisplayNameFor(model => model.MonthRepayment)
        </span>
        <br />
        <span>
            @Html.DisplayFor(model => model.MonthRepayment)
        </span>
        <br />
        <br />

        <span class="gray-text">
            @Html.DisplayNameFor(model => model.NumberOfMonths)
        </span>
        <br />
        <span>
            @Html.DisplayFor(model => model.NumberOfMonths)
        </span>
        <br />
        <br />

        <span class="gray-text">
            @Html.DisplayNameFor(model => model.DateOfSubmission)
        </span>
        <br />
        <span>
            @Html.DisplayFor(model => model.DateOfSubmission)
        </span>
        <br />
        <br />

        <span class="gray-text">
            @Html.DisplayNameFor(model => model.DateOfSubmission)
        </span>
        <br />
        <span>
            @Html.DisplayFor(model => model.DateOfSubmission)
        </span>
        <br />
        <br />

        <span class="gray-text">
            Stan
        </span>
        <br />
        <span>
            @if (Model.State == true)
            {
                <span style="color: green">Zatwierdzono</span>
            }
            else if (Model.State == false)
            {
                <span style="color: red">Odrzucono</span>
            }
            else
            {
                <span style="color: gray">Brak decyzji</span>
            }
        </span>
        <br />
        <br />
    </div>

    <div class="col-xs-6">
        @if (Model.ScannedDocument != null)
        {
            <img src="@String.Format($"data:image/jpg;base64,{Convert.ToBase64String(Model.ScannedDocument)}")" class="img-fluid" alt="Responsive image">
        }
    </div>
</div>