@model IEnumerable<BankApplication.Models.CreditApplication>

@{
    ViewBag.Title = "Wnioski";
}

<h2></h2>

@if (User.IsInRole("User"))
{
    <p>
        @Html.ActionLink("Złóż wniosek", "Create", null, new { @class= "btn btn-default pull-right" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreditAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalRepayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthRepayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfMonths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfSubmission)
        </th>
        <th style="width: 190px; text-align: center">
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/CreditApplications/Details/@Html.DisplayFor(modelItem => item.ID)">
                    <div style="height:100%;width:100%">
                        @Html.DisplayFor(modelItem => item.CreditAmount)
                    </div>
                </a>
            </td>
            <td>
                <a href="/CreditApplications/Details/@Html.DisplayFor(modelItem => item.ID)">
                    <div style="height:100%;width:100%">
                        @Html.DisplayFor(modelItem => item.TotalRepayment)
                    </div>
                </a>
            </td>
            <td>
                <a href="/CreditApplications/Details/@Html.DisplayFor(modelItem => item.ID)">
                    <div style="height:100%;width:100%">
                        @Html.DisplayFor(modelItem => item.MonthRepayment)
                    </div>
                </a>
            </td>
            <td>
                <a href="/CreditApplications/Details/@Html.DisplayFor(modelItem => item.ID)">
                    <div style="height:100%;width:100%">
                        @Html.DisplayFor(modelItem => item.NumberOfMonths)
                    </div>
                </a>
            </td>
            <td>
                <a href="/CreditApplications/Details/@Html.DisplayFor(modelItem => item.ID)">
                    <div style="height:100%;width:100%">
                        @Html.DisplayFor(modelItem => item.DateOfSubmission)
                    </div>
                </a>
            </td>
            <td style="width: 190px; text-align: center">
                @if (User.IsInRole("User"))
                {
                    if (item.State == true)
                    {
                        <span style="color: green">Zatwierdzono</span>
                    }
                    else if (item.State == false)
                    {
                        <span style="color: red">Odrzucono</span>
                    }
                    else
                    {
                        <span style="color: gray">Brak decyzji</span>
                    }
                }
                else
                {
                    if (item.State == true)
                    {
                        <span style="color: green">Zatwierdzono</span>
                    }
                    else if (item.State == false)
                    {
                        <span style="color: Red">Odrzucono</span>
                    }
                    else
                    {
                        using (Html.BeginForm("Edit", "CreditApplications", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="ID" value="@item.ID" />
                            <input type="hidden" name="CreditAmount" value="@item.CreditAmount" />
                            <input type="hidden" name="State" value="true" />

                            <input type="submit" value="Zatwierdź" class="btn btn-primary" style="float: left" />
                        }

                        using (Html.BeginForm("Edit", "CreditApplications", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="ID" value="@item.ID" />
                            <input type="hidden" name="CreditAmount" value="@item.CreditAmount" />
                            <input type="hidden" name="State" value="false" />

                            <input type="submit" value="Odrzuć" class="btn btn-danger" style="margin-left: 10px; float: right" />
                        }
                    }

                }
            </td>
        </tr>
    }
</table>