@model IEnumerable<BankApplication.Models.PaymentCard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentCardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            Blokada karty
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecureCard)
        </th>
        <th>
            Numer rachunku
        </th>
        <th>
            Dostępne środki
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentCardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blocked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecureCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccount.BankAccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccount.AvailableFounds)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
