@model IEnumerable<BankApplication.Models.PaymentCard>

@{
    ViewBag.Title = "Index";
}

<h2>Karty płatnicze</h2>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-6">
            <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
                <div class="card-header">
                    @if (item.BankAccount.BankAccountType.Type == "PAY_ACC_FOR_YOUNG")
                    {
                        @:Konto dla młodych
                    }
                    else if (item.BankAccount.BankAccountType.Type == "PAY_ACC_FOR_ADULT")
                    {
                        @:Superkonto
                    }
                    else if (item.BankAccount.BankAccountType.Type == "FOR_CUR_ACC")
                    {
                        @:Konto walutowe
                    }
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Numer konta: @item.BankAccount.BankAccountNumber.Substring(0, 2) ... @item.BankAccount.BankAccountNumber.Substring(28, 4)
                    </h5>
                    <h5 class="card-title">
                        Dostępne środki: @Html.DisplayFor(modelItem => item.BankAccount.AvailableFounds) @Html.DisplayFor(modelItem => item.BankAccount.Currency.Code)
                    </h5>
                    <h6 class="card-title">
                        <a data-toggle="collapse" href="#collapse@(item.ID)" role="button" aria-expanded="false" aria-controls="collapse@(item.ID)">
                            Pokaż kod
                        </a>
                    </h6>
                    <h5 class="collapse" id="collapse@(item.ID)">
                        @Html.DisplayFor(modelItem => item.Code)
                    </h5>
                    <br />
                    <div class="row justify-content-around">
                        <p class="card-text">
                            Blokada karty:
                            @if (item.Blocked)
                            {
                                <i class="bi bi-check2-square" style="margin-left: 10px;"></i>
                            }
                            else
                            {
                                <i class="bi bi-dash-square" style="margin-left: 10px;"></i>
                            }
                        </p>
                        <p class="card-text">
                            Usługa CardSecure:
                            @if (item.SecureCard)
                            {
                                <i class="bi bi-shield-plus" style="margin-left: 10px;"></i>
                            }
                            else
                            {
                                <i class="bi bi-shield-minus" style="margin-left: 10px;"></i>
                            }
                        </p>
                        <div class="float-right buttons noselect">
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-light" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
