@model List<BankApplication.Models.BankAccount>

@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <div class="bank-account-div active">
        <div class="details-type">
            <div>
                @if (@Model[0].BankAccountType.Type == "PAY_ACC_FOR_YOUNG")
                {
                    @:Konto dla młodych
                }
                else if (@Model[0].BankAccountType.Type == "PAY_ACC_FOR_ADULT")
                {
                    @:Superkonto
                }
                else if (@Model[0].BankAccountType.Type == "FOR_CUR_ACC")
                {
                    @:Konto walutowe
                }
            </div>
            <div class="bankAccountSelect gray-text">@Model[0].BankAccountNumber</div>
        </div>
        <div class="float-right noselect">
            <div class="float-right text-align-right details-menas">
                <span>Dostępne środki</span>
                <br />
                <span>
                    <b>
                        @decimal.Round(Model[0].AvailableFounds, 2) @Model[0].Currency.Code
                    </b>
                </span>
            </div>
            <div class="float-right noselect">
                <div class="float-right text-align-right details">
                    <span class="gray-text">
                        @decimal.Round(Model[0].Balance, 2)
                        @Model[0].Currency.Code
                    </span>
                    <br />
                    <span class="gray-text">
                        @decimal.Round(Model[0].Lock, 2)
                        @Model[0].Currency.Code
                    </span>
                </div>
                <div class="float-right text-align-left details">
                    <span class="gray-text">
                        Sadlo
                    </span>
                    <br />
                    <span class="gray-text">
                        Blokady
                    </span>
                </div>
            </div>
        </div>
        <div class="float-right buttons noselect">
            @Html.ActionLink("Szczegóły", "Details", "BankAccounts", new { id = Model[0].BankAccountTypeID }, new { @class = "btn btn-outline-dark" })
            @Html.ActionLink("Historia", "Index", "Transactions", new { bankAccountNumber = Model[0].BankAccountNumber }, new { @class = "btn btn-outline-dark" })
            @Html.ActionLink("Przelew", "Transfer", "Transactions", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    @foreach (var item in Model.Skip(1))
    {
        <div class="bank-account-div">
            <div class="details-type">
                <div>
                    @if (@item.BankAccountType.Type == "PAY_ACC_FOR_YOUNG")
                    {
                        @:Konto dla młodych
                    }
                    else if (@item.BankAccountType.Type == "PAY_ACC_FOR_ADULT")
                    {
                        @:Superkonto
                    }
                    else if (@item.BankAccountType.Type == "FOR_CUR_ACC")
                    {
                        @:Konto walutowe
                    }
                </div>
                <div class="bankAccountSelect gray-text">@item.BankAccountNumber</div>
            </div>
            <div class="float-right noselect">
                <div class="float-right text-align-right details-menas">
                    <span>Dostępne środki</span>
                    <br />
                    <span>
                        <b>
                            @decimal.Round(item.AvailableFounds, 2) @item.Currency.Code
                        </b>
                    </span>
                </div>
                <div class="float-right noselect ">
                    <div class="float-right text-align-right details">
                        <span class="gray-text">
                            @decimal.Round(item.Balance, 2)
                            @item.Currency.Code
                        </span>
                        <br />
                        <span class="gray-text">
                            @decimal.Round(item.Lock, 2)
                            @item.Currency.Code
                        </span>
                    </div>
                    <div class="float-right text-align-left details">
                        <span class="gray-text">
                            Sadlo
                        </span>
                        <br />
                        <span class="gray-text">
                            Blokady
                        </span>
                    </div>
                </div>
            </div>
            <div class="float-right buttons noselect">
                @Html.ActionLink("Szczegóły", "Details", "BankAccounts", new { id = item.BankAccountTypeID }, new { @class = "btn btn-outline-dark" })
                @Html.ActionLink("Historia", "Index", "Transactions", new { bankAccountNumber = item.BankAccountNumber }, new { @class = "btn btn-outline-dark" })
                @Html.ActionLink("Przelew", "Transfer", "Transactions", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>

@Html.ActionLink("Dodaj konto", "Create", "BankAccounts", null, new { @class = "btn btn-primary float-right", style="margin-bottom:10px;" })

<table class="table">
    <thead>
        <tr>
            <th>
                Odbiorca / Nadawca / Tytuł
            </th>
            <th>
                Data
            </th>
            <th>
                Kwota
            </th>
        </tr>
    </thead>
    <tbody class="table-transactions-result">
        <tr class="loading-container">
            <td colspan="5">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script>
    function searchTransactions() {
        var bankAccountNumber = $(".active > .details-type > div.bankAccountSelect").text();
        $.post("@Url.Action("IndexTransactions", "Transactions")",
            {
                bankAccountNumber: bankAccountNumber,
                page: 1,
                size: 5
            },
            function (data) {
                if (data != "") {
                    $(".table-transactions-result").html(data);
                } else {
                    $(".table-transactions-result").html(
                        "<tr><td colspan='5'>Brak operacji</td></tr>"
                    );
                }
                active = false;
            });
    }

    $(document).ready(function () {
       searchTransactions();
    });

    $(".bank-account-div").click(function () {
        if (!$(this).hasClass("active")) {
            $(".active").removeClass("active");
            $(this).addClass("active");

            searchTransactions();
        }
    });
</script>