@model List<BankApplication.Models.BankAccount>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="bank-account-div active noselect shadow p-3 mb-5 bg-white rounded">
        <div class="details-type">
            <div>@Model[0].BankAccountType.Type</div>
            <div class="bankAccountSelect">@Model[0].BankAccountNumber</div>
        </div>
        <div class="pull-right">
            <div class="pull-right text-align-right details-menas">
                <span>Dostępne środki</span>
                <br />
                <span>@decimal.Round(Model[0].AvailableFounds, 2) @Model[0].Currency.Code</span>
            </div>
            <div class="pull-right">
                <div class="pull-right text-align-right details">
                    <span>
                        @decimal.Round(Model[0].Balance, 2)
                    </span>
                    <br />
                    <span>
                        @decimal.Round(Model[0].Lock, 2)
                    </span>
                </div>
                <div class="pull-right text-align-left details">
                    <span>
                        Sadlo
                    </span>
                    <br />
                    <span>
                        Blokady
                    </span>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="pull-right buttons">
            @Html.ActionLink("Szczegóły", "Details", "BankAccounts", new { id = Model[0].BankAccountTypeID }, new { @class = "btn btn-default" })
            @Html.ActionLink("Historia", "Index", "Transactions", new { bankAccountNumber = Model[0].BankAccountNumber }, new { @class = "btn btn-default" })
            @Html.ActionLink("Przelew", "Transfer", "Transactions", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    @foreach (var item in Model.Skip(1))
    {
        <div class="bank-account-div noselect">
            <div class="details-type">
                <div>@item.BankAccountType.Type</div>
                <div class="bankAccountSelect">@item.BankAccountNumber</div>
            </div>
            <div class="pull-right">
                <div class="pull-right text-align-right details-menas">
                    <span>Dostępne środki</span>
                    <br />
                    <span>@decimal.Round(item.AvailableFounds, 2) @item.Currency.Code</span>
                </div>
                <div class="pull-right">
                    <div class="pull-right text-align-right details">
                        <span>
                            @decimal.Round(item.Balance, 2)
                        </span>
                        <br />
                        <span>
                            @decimal.Round(item.Lock, 2)
                        </span>
                    </div>
                    <div class="pull-right text-align-left details">
                        <span>
                            Sadlo
                        </span>
                        <br />
                        <span>
                            Blokady
                        </span>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="pull-right buttons">
                @Html.ActionLink("Szczegóły", "Details", "BankAccounts", new { id = item.BankAccountTypeID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Historia", "Index", "Transactions", new { bankAccountNumber = item.BankAccountNumber }, new { @class = "btn btn-default" })
                @Html.ActionLink("Przelew", "Transfer", "Transactions", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Odbiorca / Nadawca / Tytuł
            </th>
            <th>
                Data
            </th>
            <th>
                Kwota
            </th>
        </tr>
    </thead>
    <tbody class="table-transactions-result">
        <tr class="loading-container">
            <td colspan="5">
                <div>
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script>
    function searchTransactions() {
        var bankAccountNumber = $(".active > .details-type > div.bankAccountSelect").text();
        $.post("@Url.Action("IndexTransactions", "Transactions")",
            {
                bankAccountNumber: bankAccountNumber,
                page: 1,
                size: 5
            },
            function (data) {
                if (data != "") {
                    $(".table-transactions-result").html(data);
                } else {
                    $(".table-transactions-result").html(
                        "<tr><td colspan='5'>Brak operacji</td></tr>"
                    );
                }
                active = false;
            });
    }

    $(document).ready(function () {
       searchTransactions();
    });

    $(".bank-account-div").click(function () {
        if (!$(this).hasClass("active")) {
            $(".active").removeClass("active");
            $(this).addClass("active");

            searchTransactions();
        }
    });
</script>