@model BankApplication.Models.BankAccount

@{
    ViewBag.Title = "Tworzenie konta bankowego";
}

<h2>Tworzenie konta bankowego</h2>

@using (Html.BeginForm("Create", "BankAccounts", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @ViewData["Message"]

<div class="form-horizontal">
    <h4></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    

    <div class="form-group">
        <div class="col-md-offset-2">
            <select name="BankAccountTypeID" style="width: 200px">
                @foreach (var item in (List<BankApplication.Models.BankAccountType>)ViewBag.BankAccountTypes)
                {
                    <option value="@item.ID">
                        @if (item.Type == "PAY_ACC_FOR_YOUNG")
                        {
                            @:Konto dla młodych
                        }
                        else if (item.Type == "PAY_ACC_FOR_ADULT")
                        {
                            @:Superkonto
                        }
                        else if (item.Type == "FOR_CUR_ACC")
                        {
                            @:Konto walutowe
                        }
                    </option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2">
            <select name="CurrencyCode" style="width: 110px">
                @foreach (var item in (List<BankApplication.Models.Currency>)ViewBag.Currencies)
                {
                    <option value="@item.Code">
                        @item.Code
                    </option>
                }
            </select>
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Stwórz" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<script>
    $(document).ready(function () {
        $('select[name=BankAccountTypeID]').select2();
    });

    $("select[name=CurrencyCode]").select2({
        templateResult: function (code) {
            if (code.id != undefined) {
                var baseUrl = "../../Images";
                var $state = $(
                    '<span><img src="' + baseUrl + '/' + code.id + '.gif" class="img-flag" /> ' + code.text + '</span>'
                );
                return $state;
            }
        },
        templateSelection: function (code) {
            var baseUrl = "../../Images";
            var $state = $(
                '<span><img src="' + baseUrl + '/' + code.id + '.gif" class="img-flag" /> ' + code.text + '</span>'
            );
            return $state;
        }
    });
</script>