@model BankApplication.Models.BankAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BankAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankAccountType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableFounds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableFounds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
