@model PagedList.IPagedList<BankApplication.Models.BankAccount>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script>
    $(document).ready(function () {
        $(".searchString").on("keyup", function (e) {
            var searchString = $(".searchString").val();

            var url = window.location.href;
            var sortOrder = url.split("=").pop();

            console.log("search by: " + sortOrder);

            $.ajax({
                type: "POST",
                url: "/BankAccounts",
                data: {
                    searchString: searchString,
                    sortOrder: sortOrder
                },
                datatype: "text",
                success: function (data) {
                    $('.bankAccountsResult').html(data);
                    console.log(data);
                }
            });

        });
    });
</script>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

@using (Html.BeginForm())
{
    <p class="pull-right">
        Znajdź: @Html.TextBox("SearchString", null, new { @class = "searchString" })
    </p>
}

<div class="resultsTable">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().BankAccountType.Type)
            </th>
            <th>
                @Html.ActionLink("Numer konta bankowego", "Index", new { sortOrder = ViewBag.NumberSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Data utworzenia", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
        </tr>

        <tbody class="bankAccountsResult">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.BankAccountType.Type == "PAY_ACC_FOR_YOUNG")
                        {
                            @:Konto dla młodych
                        }
                        else if (item.BankAccountType.Type == "PAY_ACC_FOR_ADULT")
                        {
                            @:Superkonto
                        }
                        else if (item.BankAccountType.Type == "FOR_CUR_ACC")
                        {
                            @:Konto walutowe
                        }
                    </td>
                    <td>
                        @Html.ActionLink(item.BankAccountNumber, "Details", "BankAccounts", new { id = item.BankAccountTypeID }, new { @class = "btn btn-default", target = "_blank" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.ActionLink("Stan", "Index", "Transactions", new { bankAccountNumber = item.BankAccountNumber }, new { @class = "btn btn-default", target = "_blank" })
                        @Html.ActionLink("Usuń", "Delete", new { id = item.ID }, new { @class = "btn btn-default" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))