@model PagedList.IPagedList<BankApplication.Models.Transaction>

@foreach (var item in Model)
{
    <tr class="clickable-tr" clicked="false">
        <td>
            @if (item.TransactionType.Type == "CREDIT_TRANSFER")
            {
                if (item.FromBankAccountNumber == ViewBag.BankAccountNumber)
                {
                    <span>
                        Przyznanie kredytu
                    </span>
                }
                else
                {
                    <span>
                        Opłata kredytu
                    </span>
                }
            }
            else
            {
                <table class="table-inside">
                    @if (item.TransactionType.Type == "TRANSFER")
                    {
                        <tr>
                            <td>

                                @if (item.ToBankAccountNumber == ViewBag.BankAccountNumber)
                                {
                                    <span>
                                        @Html.DisplayFor(modelItem => item.SenderName)
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        @Html.DisplayFor(modelItem => item.ReceiverName)
                                    </span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="gray-text">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                        </tr>
                    }
                    else if (item.TransactionType.Type == "CARD_PAYMENT")
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                        </tr>
                        <tr>
                            <td class="gray-text">
                                @Html.DisplayFor(modelItem => item.ReceiverName)
                            </td>
                        </tr>
                    }
                    else
                    { 
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                        </tr>
                    }
                </table>
            }
        </td>
        <td>
            @item.Date.ToString("dd.MM.yyyy")
        </td>
        <td>
            @if (item.TransactionType.Type == "TRANSFER" || item.TransactionType.Type == "CURR_EXCHANGE")
            {
                if (item.ToBankAccountNumber == ViewBag.BankAccountNumber)
                {
                    <span style="color: green">
                        @Html.DisplayFor(modelItem => item.ValueTo)
                        @Html.DisplayFor(modelItem => item.CurrencyTo.Code)
                    </span>
                }
                else
                {
                    <span style="color: red">
                        -@Html.DisplayFor(modelItem => item.ValueFrom)
                        @Html.DisplayFor(modelItem => item.CurrencyFrom.Code)
                    </span>
                }
            }
            else if (item.TransactionType.Type == "CARD_PAYMENT")
            {

                <span style="color: red">
                    -@Html.DisplayFor(modelItem => item.ValueTo)
                    @Html.DisplayFor(modelItem => item.CurrencyTo.Code)
                </span>
            }
            else if (item.TransactionType.Type == "CASH_DEPOSIT")
            {
                <span style="color: green">
                    @Html.DisplayFor(modelItem => item.ValueTo)
                    @Html.DisplayFor(modelItem => item.CurrencyTo.Code)
                </span>
            }
            else if (item.TransactionType.Type == "CASH_WITHDRAWAL")
            {
                <span style="color: red">
                    -@Html.DisplayFor(modelItem => item.ValueFrom)
                    @Html.DisplayFor(modelItem => item.CurrencyFrom.Code)
                </span>
            }
            else if (item.TransactionType.Type == "CURR_EXCHANGE")
            {
                if (item.ToBankAccountNumber == ViewBag.BankAccountNumber)
                {
                    <span style="color: green">
                        @Html.DisplayFor(modelItem => item.ValueTo)
                        @Html.DisplayFor(modelItem => item.CurrencyTo.Code)
                    </span>
                }
                else
                {
                    <span style="color: red">
                        -@Html.DisplayFor(modelItem => item.ValueFrom)
                        @Html.DisplayFor(modelItem => item.CurrencyFrom.Code)
                    </span>
                }
            }
            else if (item.TransactionType.Type == "CREDIT_TRANSFER")
            {
                if (item.FromBankAccountNumber == ViewBag.BankAccountNumber)
                {
                    <span style="color: green">
                        @Html.DisplayFor(modelItem => item.ValueTo)
                        @Html.DisplayFor(modelItem => item.CurrencyTo.Code)
                    </span>
                }
                else
                {
                    <span style="color: red">
                        -@Html.DisplayFor(modelItem => item.ValueFrom)
                        @Html.DisplayFor(modelItem => item.CurrencyTo.Code)
                    </span>
                }
            }
        </td>
    </tr>
    <tr style="display: none" class="openable-tr">
        <td colspan="5">
            <div class="row">
                <div class="col-md-6">
                    @if (item.TransactionType.Type == "TRANSFER")
                    {
                        if (item.ToBankAccountNumber == ViewBag.BankAccountNumber)
                        {
                            <span class="gray-text">
                                Nadawca
                            </span>
                            <br />
                            <span>
                                @Html.DisplayFor(modelItem => item.SenderName)
                            </span>
                        }
                        else
                        {
                            <span class="gray-text">
                                Odbiorca
                            </span>
                            <br />
                            <span>
                                @Html.DisplayFor(modelItem => item.ReceiverName)
                            </span>
                        }
                        <br />
                        <br />
                    }

                    @if (item.TransactionType.Type != "CARD_PAYMENT")
                    {
                        <span class="gray-text">
                            Numer konta
                        </span>
                        <br />
                        if (item.TransactionType.Type == "CREDIT_TRANSFER")
                        {
                            <span>
                                @Html.DisplayFor(modelItem => item.ToBankAccountNumber)
                            </span>
                        }
                        else
                        {
                            if (item.ToBankAccountNumber == ViewBag.BankAccountNumber)
                            {
                                <span>
                                    @Html.DisplayFor(modelItem => item.FromBankAccountNumber)
                                </span>
                            }
                            else
                            {
                                <span>
                                    @Html.DisplayFor(modelItem => item.ToBankAccountNumber)
                                </span>
                            }
                        }

                        <br />
                        <br />
                    }


                    @if (item.TransactionType.Type == "TRANSFER")
                    {
                        <span class="gray-text">
                            Tytuł
                        </span>
                        <br />
                        <span>
                            @Html.DisplayFor(modelItem => item.Description)
                        </span>
                        <br />
                        <br />
                    }

                    <span class="gray-text">
                        Operacja
                    </span>
                    <br />
                    <span>
                        @if (item.TransactionType.Type == "TRANSFER")
                        {
                            if (item.ToBankAccountNumber == ViewBag.BankAccountNumber)
                            {
                                @:Przelew na konto
                            }
                            else
                            {
                                @:Przelew z konta
                            }
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Description)
                        }
                    </span>
                    <br />
                    <br />

                    <span class="gray-text">
                        Kwota
                    </span>
                    <br />
                    @if (item.TransactionType.Type == "TRANSFER" || item.TransactionType.Type == "CURR_EXCHANGE")
                    {
                        if (item.ToBankAccountNumber == ViewBag.BankAccountNumber)
                        {
                            <span style="color: green">
                                @Html.DisplayFor(modelItem => item.ValueTo)
                                @Html.DisplayFor(modelItem => item.CurrencyTo.Code)
                            </span>
                        }
                        else
                        {
                            <span style="color: red">
                                -@Html.DisplayFor(modelItem => item.ValueFrom)
                                @Html.DisplayFor(modelItem => item.CurrencyFrom.Code)
                            </span>
                        }
                    }
                    else if (item.TransactionType.Type == "CARD_PAYMENT")
                    {

                        <span style="color: red">
                            -@Html.DisplayFor(modelItem => item.ValueTo)
                            @Html.DisplayFor(modelItem => item.CurrencyTo.Code)
                        </span>
                    }
                    else if (item.TransactionType.Type == "CASH_DEPOSIT")
                    {
                        <span style="color: green">
                            @Html.DisplayFor(modelItem => item.ValueTo)
                            @Html.DisplayFor(modelItem => item.CurrencyTo.Code)
                        </span>
                    }
                    else if (item.TransactionType.Type == "CASH_WITHDRAWAL")
                    {
                        <span style="color: red">
                            -@Html.DisplayFor(modelItem => item.ValueFrom)
                            @Html.DisplayFor(modelItem => item.CurrencyFrom.Code)
                        </span>
                    }
                    else if (item.TransactionType.Type == "CREDIT_TRANSFER")
                    {
                        if (item.FromBankAccountNumber == ViewBag.BankAccountNumber)
                        {
                            <span style="color: green">
                                @Html.DisplayFor(modelItem => item.ValueTo)
                                @Html.DisplayFor(modelItem => item.CurrencyTo.Code)
                            </span>
                        }
                        else
                        {
                            <span style="color: red">
                                -@Html.DisplayFor(modelItem => item.ValueFrom)
                                @Html.DisplayFor(modelItem => item.CurrencyFrom.Code)
                            </span>
                        }
                    }
                    <br />
                    <br />

                    <span class="gray-text">
                        Saldo po operacji
                    </span>
                    <br />
                    @if (item.TransactionType.Type == "TRANSFER" || item.TransactionType.Type == "CURR_EXCHANGE")
                    {
                        if (item.ToBankAccountNumber == ViewBag.BankAccountNumber)
                        {
                            <span>
                                @Html.DisplayFor(modelItem => item.BalanceAfterTransactionUserTo)
                                @Html.DisplayFor(modelItem => item.CurrencyTo.Code)
                            </span>
                        }
                        else
                        {
                            <span>
                                @Html.DisplayFor(modelItem => item.BalanceAfterTransactionUserFrom)
                                @Html.DisplayFor(modelItem => item.CurrencyFrom.Code)
                            </span>
                        }
                    }
                    else if (item.TransactionType.Type == "CARD_PAYMENT")
                    {

                        <span>
                            @Html.DisplayFor(modelItem => item.BalanceAfterTransactionUserTo)
                            @Html.DisplayFor(modelItem => item.CurrencyTo.Code)
                        </span>
                    }
                    else if (item.TransactionType.Type == "CASH_DEPOSIT")
                    {
                        <span>
                            @Html.DisplayFor(modelItem => item.BalanceAfterTransactionUserTo)
                            @Html.DisplayFor(modelItem => item.CurrencyTo.Code)
                        </span>
                    }
                    else if (item.TransactionType.Type == "CASH_WITHDRAWAL")
                    {
                        <span>
                            @Html.DisplayFor(modelItem => item.BalanceAfterTransactionUserFrom)
                            @Html.DisplayFor(modelItem => item.CurrencyFrom.Code)
                        </span>
                    }
                    else if (item.TransactionType.Type == "CREDIT_TRANSFER")
                    {

                        <span>
                            @Html.DisplayFor(modelItem => item.BalanceAfterTransactionUserTo)
                            @Html.DisplayFor(modelItem => item.CurrencyFrom.Code)
                        </span>
                    }
                </div>
                <div class="col-md-6">
                    <span class="gray-text">
                        Data transakcji
                    </span>
                    <br />
                    <span>
                        @item.Date.ToString("dd.MM.yyyy")
                    </span>
                    <br />
                    <br />
                </div>
            </div>
        </td>
    </tr>
}