@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Przelew", "Transfer")
</p>

<div class="form-group">
    <div class="col-md-10">
        <select class="form-control bankAccountSelect" name="BankAccountID">
            @foreach (var item in (List<BankApplication.Models.BankAccount>)ViewBag.BankAccounts)
            {
                <option value="@item.BankAccountNumber">
                    @switch (item.BankAccountType.Type)
                    {
                        case "PAY_ACC_FOR_YOUNG":
                            @:Konto dla młodych
                            break;
                        default:
                            @:Konto
                            break;
                    }
                    (@decimal.Round(item.AvailableFounds, 2) @item.Currency.Code)
                    [br]
                    @item.BankAccountNumber
                </option>
            }
        </select>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Odbiorca / Nadawca / Tytuł
            </th>
            <th>
                Data
            </th>
            <th>
                Operacja
            </th>
            <th>
                Kwota
            </th>
            <th>
                Saldo
            </th>
        </tr>
    </thead>
    <tbody class="table-transactions-result">
        <tr class="loading-container">
            <td colspan="5">
                <div>
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script>
    var page = 1;
    var active = false;

    function searchTransactions(page, type) {
        active = true;
        var bankAccountNumber = $(".bankAccountSelect").val();

        $.post("@Url.Action("Transactions", "Transactions")",
            {
                bankAccountNumber: bankAccountNumber,
                page: page,
            },
            function (data) {
                if (type == "append") {
                    $(".table-transactions-result").append(data);
                } else {
                    $(".loading-container").hide();
                    $(".table-transactions-result").html(data);
                }
                active = false;
            });
    }

    $(document).ready(function () {

        function templateResult(item, container) {
            // replace the placeholder with the break-tag and put it into an jquery object
            return $('<span>' + item.text.replace('[br]', '<br />') + '</span>');
        }

        function templateSelection(item, container) {
            // replace your placeholder with nothing, so your select shows the whole option text
            return item.text.replace('[br]', '');
        }

        $('.bankAccountSelect').select2({
            templateResult: templateResult,
            templateSelection: templateSelection
        });

        searchTransactions(1);
    });

    $(document).on("click", ".clickable-tr", function (e) {
        var target = $(e.target);
        if (target.closest('.clickable-tr').attr("clicked") === "false") {
            $(target).closest('.clickable-tr').next('.openable-tr').show();
            $(target).closest('.clickable-tr').attr("clicked", "true");
        } else if (target.closest('.clickable-tr').attr("clicked") === "true") {
            $(target).closest('.clickable-tr').next('.openable-tr').hide();
            $(target).closest('.clickable-tr').attr("clicked", "false");
        }
    });
</script>