@model BankApplication.Models.CreditType

@{
    ViewBag.Title = "Usuwanie";
}

<h2>Usuwanie</h2>
<div>
    <h4>Na pewno chcesz usunąć ten rodzaj kredytu?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commission)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-primary col-md-offset-2" />
        </div>
    }
</div>
