@model IEnumerable<BankApplication.Models.CreditType>

@{
    ViewBag.Title = "Rodzaje kredytu";
}

<h2></h2>

<p>
    @Html.ActionLink("Dodaj", "Create", null, new { @class = "btn btn-primary pull-right" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commission)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rates)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commission)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID }, new { @class = "btn btn-default" })
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ID }, new { @class = "btn btn-default" })
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
